* {
    font-family: Arial, sans-serif;
}

a {
    color: blue;
}

a:active {
    color: red;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 80%;
    max-width: 52em;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 14em 1fr;
    height: 100%;
}

article#content {
    grid-column: 2;
    padding: 2em 0.7em 1.5em 0.7em;
}

article#content > :first-child {
    margin-top: 0;
}

article#content h1 {
    color: darkred;
    font-size: 2em;
}

article#content h2 {
    color: darkred;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    main {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        padding: 0 2em 0em 2em;
    }

    article#content {
        grid-column: 1;
        grid-row: 2;

        padding: 0.5em 0 1.5em 0;
    }
}
