* {
    font-family: Arial, sans-serif;
}

a {
    color: blue;
}
a:active {
    color: red;
}

body {
    display: grid;

    width: 80%;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
}

article#content {
    grid-column: 2;
    grid-row: 1;

    max-width: 70ch;
    padding-left: 10px;
}
