#content ul {
    padding: 0;
    list-style: none;
}

ul#categories > li {
    position: relative;

    padding-left: 10px;
}

ul#categories > li::before {
    content: "";
    width: 4px;

    /* position to the left of the category and expand to its full length */
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; /* keep to the far left, ignoring category padding */

    background-color: var(--g-col-accent);
}

ul#categories > li > span.name {
    color: var(--g-col-bg-content);
    background-color: var(--g-col-accent);

    font-weight: bold;

    padding: 2px 6px 2px 14px;
    margin-left: -10px;
    display: inline-block;
}
