article.brief {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "ti ti"
        "im ds";
}

article.brief > h2 {
    grid-area: ti;

    margin: 0;
}

article.brief > img {
    grid-area: im;
    place-self: center;

    width: 80%;
    height: 80%;
    object-fit: cover;
}

article.brief > p {
    grid-area: ds;
}
