aside#sidebar {
    grid-column: 1;
    grid-row: 1;

    width: 25ch;
    padding-right: 10px;

    font-size: 0.8rem;
}

aside#sidebar > span#name {
    display: block;

    margin: 30px 0 10px 0;

    font-size: 1.3rem;
    font-weight: bold;
}

aside#sidebar nav {
    margin-bottom: 15px;
}
aside#sidebar nav#main-pages {
    padding: 10px;

    background-color: lightyellow;
    border: 1px solid orange;

    font-weight: bold;
}
aside#sidebar nav#external-links {
    padding: 10px;

    border: 1px dashed gray;
}

aside#sidebar nav > h1 {
    margin: 0;

    font-size: 1.1em;
    font-weight: bold;
}
aside#sidebar nav#main-pages > h1 {
    text-align: center;
}

aside#sidebar nav > ul {
    margin: 0;
}
aside#sidebar nav#main-pages > ul {
    list-style: none;
    padding-left: 0;
}
