aside#sidebar {
    grid-column: 1;
    padding: 2em 0.7em 1.5em 0.7em;
    background-color: var(--g-col-bg-sidebar);
}

/* Skip-to-content button */
aside#sidebar > .access-skip {
    position: absolute;
    left: -10000px;
    top: 0;

    background-color: var(--g-col-accent);
    color: var(--g-col-bg-content);
}
aside#sidebar > .access-skip:focus {
    position: fixed;
    left: initial;
}

aside#sidebar > h2#name {
    margin: 0 0 0.5em 0;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--g-col-fg-sitename);
}

aside#sidebar > div {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 1.2em;
    font-size: 0.8em;
}

aside#sidebar nav#main-pages {
    padding: 0.75em;

    background-color: var(--g-col-bg-sidebar-mainpages);
    border: 0.1em solid var(--g-col-border-sidebar-mainpages);

    font-weight: bold;

    grid-row: 1;
}
aside#sidebar nav#articles {
    grid-row: 2;
}
aside#sidebar nav#external-links {
    padding: 0.75em;

    border: 0.1em dashed var(--g-col-border-sidebar-extlinks);

    grid-row: 3;
}

aside#sidebar nav > h3 {
    margin: 0;

    font-size: 1.1em;
    font-weight: bold;
}

aside#sidebar nav > ul {
    margin: 0;
}

aside#sidebar nav#articles > ul > li {
    margin: 0.2em 0;
}

aside#sidebar nav#theme-selector > h3 {
    color: var(--g-col-fg-sidebar-fade);
}

aside#sidebar nav#theme-selector > ul {
    display: inline-flex;
    padding: 0;

    list-style: none;
}

aside#sidebar nav#theme-selector > ul > li {
    display: block;
    width: 0.8em;
    height: 0.8em;

    padding: 0.2em;
    margin: 0.05em;

    border: 1px solid black;
    opacity: 0.5;

    cursor: pointer;

    font-weight: bold;
    font-style: italic;

    line-height: 1.5em;

    /* hide inner text */
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
aside#sidebar nav#theme-selector > ul:hover > li {
    width: 1.5em;
    height: 1.5em;

    margin: 0;

    border: 1px solid white;
    opacity: 1;
}
aside#sidebar nav#theme-selector > ul > li:hover {
    width: 4em;

    /* show text */
    text-indent: 0;
}

aside#sidebar nav#theme-selector > ul > li#select-nihon {
    background-color: darkred;
    color: white;
}

@media screen and (max-width: 768px) {
    aside#sidebar {
        grid-column: 1;
        grid-row: 1;
        padding-right: 0;
        padding: 2em 0 0.5em 0;
    }

    aside#sidebar > h2#name {
        text-align: center;
    }

    aside#sidebar > div {
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "mp el"
            "ar ar";
    }
    aside#sidebar nav#main-pages {
        grid-area: mp;
    }
    aside#sidebar nav#articles {
        grid-area: ar;
    }
    aside#sidebar nav#external-links {
        grid-area: el;
    }

    aside#sidebar nav#theme-selector {
        /* TODO: Support for theme selection in narrow size / mobile */
        display: none;
    }
}
