aside#sidebar {
    grid-column: 1;

    padding-right: 10px;

    font-size: 0.8rem;
}

aside#sidebar > span#name {
    display: block;

    margin: 30px 0 10px 0;

    font-size: 1.3rem;
    font-weight: bold;
}

aside#sidebar > div {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

aside#sidebar nav {
    margin-bottom: 15px;
}
aside#sidebar nav#main-pages {
    padding: 10px;

    background-color: lightyellow;
    border: 1px solid orange;

    font-weight: bold;

    grid-row: 1;
}
aside#sidebar nav#articles {
    grid-row: 2;
}
aside#sidebar nav#external-links {
    padding: 10px;

    border: 1px dashed gray;

    grid-row: 3;
}

aside#sidebar nav > h1 {
    margin: 0;

    font-size: 1.1em;
    font-weight: bold;
}

aside#sidebar nav > ul {
    margin: 0;
}

aside#sidebar nav#articles > ul > li {
    margin: 2.5px 0;
}

@media screen and (max-width: 768px) {
    aside#sidebar {
        grid-column: 1;
        grid-row: 1;
    }

    aside#sidebar > span#name {
        text-align: center;
    }

    aside#sidebar > div {
        grid-template-rows: repeat(2, min-content);
        grid-template-areas:
            "mp el"
            "ar ar"
    }
    aside#sidebar nav#main-pages {
        grid-area: mp;
        margin-right: 8px;
    }
    aside#sidebar nav#articles {
        grid-area: ar;
    }
    aside#sidebar nav#external-links {
        grid-area: el;
        margin-left: 8px;
    }
}
