:root {
    /* font families */
    --g-font-body: Arial, sans-serif;

    /* site-wide accent colour(s) */
    --g-col-accent: darkred;

    /* foreground colours */
    --g-col-fg-sitename: black;
    --g-col-fg-link: blue;
    --g-col-fg-link-active: red;
    --g-col-fg-content: black;
    --g-col-fg-sidebar: black;
    --g-col-fg-sidebar-fade: slategrey;

    /* background colours */
    --g-col-bg-body: white;
    --g-col-bg-content: white;
    --g-col-bg-sidebar: white;
    --g-col-bg-sidebar-mainpages: lightyellow;
    --g-col-bg-3dblock-light: white;
    --g-col-bg-3dblock-dark: rgb(219, 219, 219);

    /* border colours */
    --g-col-border-sidebar-mainpages: orange;
    --g-col-border-sidebar-extlinks: grey;
    --g-col-border-3dblock: grey;
}
