:root {
    /* font families */
    --g-font-body: Arial, sans-serif;

    /* site-wide accent colour(s) */
    --g-col-accent: darkred;

    /* foreground colours */
    --g-col-fg-sitename: black;
    --g-col-fg-link: blue;
    --g-col-fg-link-active: red;
    --g-col-fg-content: black;
    --g-col-fg-sidebar: black;
    --g-col-fg-sidebar-fade: slategrey;

    /* background colours */
    --g-col-bg-body: white;
    --g-col-bg-content: white;
    --g-col-bg-content-dark: gainsboro;
    --g-col-bg-sidebar: white;
    --g-col-bg-sidebar-mainpages: lightyellow;

    /* border colours */
    --g-col-border-sidebar-mainpages: orange;
    --g-col-border-sidebar-extlinks: grey;
}
