/*
    Available colour themes:
        nihon      Default/fallback white and red colour scheme
*/

/* default (nihon) theme properties */
:root,
[data-user-theme="nihon"] {
    /* font families */
    --g-font-body: Arial, sans-serif;

    /* site-wide accent colour(s) */
    --g-col-accent: darkred;

    /* foreground colours */
    --g-col-fg-sitename: black;
    --g-col-fg-link: blue;
    --g-col-fg-link-active: red;
    --g-col-fg-content: black;
    --g-col-fg-sidebar: black;
    --g-col-fg-sidebar-fade: slategrey;

    /* background colours */
    --g-col-bg-body: white;
    --g-col-bg-content: white;
    --g-col-bg-sidebar: white;
    --g-col-bg-sidebar-mainpages: lightyellow;
    --g-col-bg-3dblock-light: white;
    --g-col-bg-3dblock-dark: rgb(219, 219, 219);

    /* border colours */
    --g-col-border-sidebar-mainpages: orange;
    --g-col-border-sidebar-extlinks: grey;
    --g-col-border-3dblock: grey;
}

[data-user-theme="camo"] {
    /* site-wide accent colour(s) */
    --g-col-accent: rgb(166, 189, 123);

    /* foreground colours */
    --g-col-fg-sitename: rgb(166, 189, 123);
    --g-col-fg-link: rgb(248, 233, 26);
    --g-col-fg-content: whitesmoke;
    --g-col-fg-sidebar: rgb(166, 189, 123);
    --g-col-fg-sidebar-fade: rgb(106, 126, 70);

    /* background colours */
    --g-col-bg-body: rgb(97, 112, 68);
    --g-col-bg-content: rgb(48, 59, 28);
    --g-col-bg-sidebar: rgb(48, 59, 28);
    --g-col-bg-sidebar-mainpages: rgb(67, 78, 46);
    --g-col-bg-3dblock-light: rgb(97, 112, 68);
    --g-col-bg-3dblock-dark: rgb(67, 78, 46);

    /* border colours */
    --g-col-border-sidebar-mainpages: rgb(197, 186, 35);
    --g-col-border-3dblock: rgb(97, 112, 68);
}
