{%- import "headelems.j2" as he -%}
{%- import "sidebar.j2" as sbar -%}

<!DOCTYPE html>

<html lang="en">
    <head>
        {{ he.head() | indent | indent }}
    </head>

    <body>
        <main>
            {{ sbar.sidebar() | indent | indent }}

            <article id="content">
                {@{RST_PUT}@}
            </article>
        </main>
    </body>
</html>
