{% macro head(prefix) -%}
<title>Jack Bennett</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ prefix }}css/theme.css">
<link rel="stylesheet" href="{{ prefix }}css/common.css">
<link rel="stylesheet" href="{{ prefix }}css/sidebar.css">
{%- endmacro %}
