{% macro sidebar() -%}
<aside id="sidebar">
    <span id="name">kosude</span>

    <div>
        <nav id="main-pages">
            <h1>Main pages</h1>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
            </ul>
        </nav>

        <nav id="articles">
            <h1>Articles</h1>
            <ul>
                <li><a href="/articles/test_page.html">A test article compiled from reStructuredText</a></li>
            </ul>
        </nav>

        <nav id="external-links">
            <h1>External links</h1>
            <ul>
                <li><a href="https://gitlab.com/kosude">GitLab</a></li>
                <li><a href="https://github.com/kosude">GitHub</a></li>
                <li><a href="https://stackoverflow.com/users/12980669/kosude">StackOverflow</a></li>
            </ul>
        </nav>
    </div>
</aside>
{%- endmacro %}
