{% macro sidebar(prefix, prefix_articles) -%}
<aside id="sidebar">
    <a href="#content" class="access-skip">Skip to main content</a>

    <h2 id="name">kosude</h2>

    <div>
        <nav id="main-pages">
            <h3>Main pages</h3>
            <ul>
                <li><a href="{{ prefix }}index.html">Home</a></li>
                <li><a href="{{ prefix }}projects.html">Projects</a></li>
            </ul>
        </nav>

        <nav id="articles">
            <h3>Articles</h3>
            <ul>
                <li><a href="{{ prefix_articles }}1_todo.html">Todo</a></li>
            </ul>
        </nav>

        <nav id="external-links">
            <h3>External links</h3>
            <ul>
                <li><a href="https://gitlab.com/kosude">GitLab</a></li>
                <li><a href="https://github.com/kosude">GitHub</a></li>
                <li><a href="https://linkedin.com/in/jackbennett44">LinkedIn</a></li>
            </ul>
        </nav>

        <nav id="theme-selector" style="display: none;">
            <h3>Choose theme</h3>

            <span>Light:</span>
            <ul>
                <li id="select-nihon" onclick="selectTheme('nihon')">Nihon</li>
            </ul>

            <br/>

            <span>Dark:</span>
            <ul>
                <li id="select-camo" onclick="selectTheme('camo')">Camo</li>
            </ul>
        </nav>

        <nav id="badges">
            <img src="https://byhumannotai.com//icons/written_by_human_not_ai_light_rect.png" alt="Written by Human Not AI" style="display: block; border: 0;" />
        </nav>
    </div>
</aside>
{%- endmacro %}
